*{
    box-sizing: border-box;
}

header
{
    font-family: 'Poppins', sans-serif;
}
.clear
{
    clear: both;
}

.navigation-bar
{
width: 90%;
margin: auto;
margin-top: 20px;
margin-bottom: 20px;
}
.text
{
    color: blue;
    float: left;
    font-weight: 700;
    font-size: 34px;
}
.colortext
{
    color: aqua;
    font-weight: 700;
}
.icofont-navigation-menu
{
    float: right;
    color:grey;
    font-size: 28px;
}

.banner 
{   height: 400.313px;
    background-image: url("../images/1.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}
.banner h2
{   margin: auto;
    letter-spacing: 2px;
    width: 60%;
    color: blue;
    text-align: center;
    padding-top: 20%;
    font-weight: 700;
    font-size: 34px;   
}
.banner-btns
{
width: 50%;
margin: auto;
margin-top: 50px;
}
.banner a
{   
    border-radius: 2px;
    text-align: center;
    color:white;
    padding: 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 100%;
}
.underline
{
    color: aqua;
    text-decoration: underline;
}
.banner2
{   
    margin-bottom: 40px;
    margin-top: 40px;
    height: 353.313px;
    width: 90%;
    background-image: url("../images/2.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}
.content1
{
    height: 360px;
    width: 90%;
    margin: auto;
}
.content1 .head
{   
    font-weight: 700;
    font-size: 34px;
    color: blue;
}
.content1 .discription
{
    font-style: italic;
    line-height: 24px;
    color: grey;
    font-size: 18px;;
    padding-top: 30px;
}
.icofont-tick-mark
{   
    padding-top: 30px;
}